<template>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">{{visitor}} vs {{home}}</h4>
      <h6 class="card-subtitle text-muted">Card subtitle</h6>
      <div class="card-body">
        <h4 class="card-title">
          <b-list-group-item>
            <!-- v-model -->
            <b-form-radio v-model="selected" :value="visitor">{{visitorCity}}</b-form-radio>
            <b-form-radio v-model="selected" :value="home">
              {{homeCity}}
              <span v-if="homepoints>0">+{{homepoints}}</span>
              <span v-else>{{homepoints}}</span>
            </b-form-radio>
          </b-list-group-item>
        </h4>
        <p class="card-text">
          <br />
          Game Description {{selected}}
        </p>
      </div>
      <!-- <a class="btn btn-outline-primary" href="#">Read More</a> -->
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      selected: '',
      isId: this.id,
      pickedGames: []
    }
  },
  props: {
    id: {
      type: String,
      required: true
    },
    matchId: {
      type: String,
      required: true
    },
    homeCity: {
      type: String,
      required: true
    },
    visitorCity: {
      type: String,
      required: true
    },
    home: {
      type: String,
      required: true
    },
    visitor: {
      type: String,
      required: true
    },
    homepoints: {
      type: Number,
      required: true
    }
  }
}
</script>