<template>
  <form>
    <div class="d-flex flex-wrap p-3 m-3">
      <NflGame
        v-for="(game,index) in games"
        :key="game.id"
        :id="game.id"
        :homeCity="game.homeCity"
        :visitorCity="game.visitorCity"
        :home="game.home"
        :visitor="game.visitor"
        :homepoints="game.homepoints"
        matchId="somevar+index"
      />
      <hr />
      <input type="submit" style="width:9rem;display:block;" value="submit" class="btn btn-primary" />
    </div>
  </form>
</template>

<script>
import NflGame from '~/components/NFL/NflGame2'

export default {
  data() {
    return {
      selected: '',
      somevar: ''
    }
  },
  props: {
    games: {
      type: Array,
      required: true
    }
  },
  components: {
    NflGame
  }
}
</script>