<template>
  <section>
    <div v-for="(game,index) in loadedGames" :key="index" class="m-3">
      <h4>{{game.question}}</h4>
      <!--  Es imposible tener un v-model como arreglo , a menos que al 
      iniciar se cargue mediante un methodo, o computed property, con informacion del json,
      vamos a intentar cargar al json, en el created.-->

      <input
        type="radio"
        id="one"
        value="One"
        @change="selectWinner(game.id, game.visitor)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="one">One</label>
      <br />
      <input
        type="radio"
        id="two"
        value="Two"
        @change="selectWinner(game.id, game.home)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="two">Two</label>
      <br />
      <span>Picked: {{ game.matchId }}</span>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: '',
      mydata: []
    }
  },

  created() {
    console.log('no axios is working')
    return this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
        }
        console.log(this.loadedGames)
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      var self = this
      if (typeof self.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            console.log('game.gameId:' + JSON.stringify(game.gameId))
            console.log('gameId:' + JSON.stringify(gameId))

            return game.gameId !== gameId
          })
        })

        self.selectedGames.push({
          gameId: gameId,
          winnerId: winnerId
        })

        console.log(self.selectedGames.length)
        console.log('results: ' + JSON.stringify(this.selectedGames))
        console.log('results: ' + JSON.stringify(self.selectedGames))
      }
    }
  }
}
</script>