<template>
  <div id="app">
    <ul>
      <li v-for="item in 5">
        <input type="radio" v-model="checked" :value="item.txt" />
        {{ item.txt }}
      </li>
    </ul>
    {{ checked }}
  </div>
</template>