<template>
  <section>
    <div v-for="(game,indexx) in loadedGames" :key="indexx" class="m-3">
      <h4>{{game.question}}</h4>
      gameId {{game.id}} - indexx : {{indexx}}
      <br />
      <span v-for="(answers,indexy) in game.pollanswers" :key="indexy">
        <input
          type="radio"
          :value="answers.id"
          :name="'name_' + indexx"
          @change="selectWinner(game.id, answers.id)"
          :checked="previousPicks.includes(answers.id)"
        />
        <label for="one">{{game.id}}-{{game.pollanswers[indexy].answer}}</label>
        <br />
      </span>

      <span>Picked: {{ game.matchId }}</span>
    </div>
    <button @click="onSave">Save Games</button>
    <button @click="loadPreviousPicks">Simulate Load from API</button>
    <button @click="printStuff">Print Stuff</button>
  </section>
</template>
 
<script>
export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: '',
      mydata: [],
      previousPicks: []
    }
  },
  computed: {
    isRadioChecked: function() {}
  },

  created() {
    return this.$axios
      .$get('https://dinerodigital.tk/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
          //   console.log(JSON.stringify(res.data[key].pollanswers));
          //   console.log("-----------------------");
        }
        this.loadPreviousPicks()
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      // console.log('pollanswer: ' + winnerId)
      // console.log("selectwinner: " + JSON.stringify(this.loadedGames[gameId].pollanswers[0]));
      // console.log("selectwinner: " + JSON.stringify(this.loadedGames[gameId].pollanswers[1]));

      var self = this
      if (typeof this.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            return game.gameId !== gameId

            // console.log("game: " + JSON.stringify(game));
          })
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })

        // console.log('Games length: ' + this.selectedGames.length)

        console.log('array: ' + JSON.stringify(this.selectedGames))
      }
    },
    loadPreviousPicks() {
      console.log('Hey')
      return this.$axios
        .$get('https://dinerodigital.tk/api/loadPreviousNflPicks')
        .then(res => {
          for (const key in res.data) {
            // console.log(key)
            // console.log(res.data[key].pollanswer_id)
            this.previousPicks.push(res.data[key].pollanswer_id)
            //this.loadedGames.push({ ...res.data[key], id: key })
            //   console.log(JSON.stringify(res.data[key].pollanswers));
            //   console.log("-----------------------");
          }
          // console.log(res)
          console.log(this.previousPicks)
        })
        .catch(e => console.log(e))
    },
    onSave() {
      // console.log("hello world");
      console.log(JSON.stringify(this.selectedGames))
      return this.$axios
        .$post('https://dinerodigital.tk/api/postNflPolls', {
          not: this.selectedGames
        })
        .then(res => {
          console.log(res)
        })
        .catch(e => console.log(JSON.stringify(e)))
    },
    printStuff() {
      console.log(JSON.stringify(this.previousPicks))
    }
  }
}
</script>