<template>
  <section style="margin-left:50px">
    <b-container>
      <div v-for="(game,indexx) in loadedGames" :key="indexx" class="m-3">
        <h4>{{game.question}}</h4>
        <b-col cols="12">
          <span v-for="(answers,indexy) in game.pollanswers" :key="indexy">
            <input type="radio" :value="answers.id" v-model="selectedGames[game.id]" cols="4" />

            <label for="one">
              <span v-if="answers.team">
                {{answers.team.cityName}}
                <img :src="answers.team.img" style="max-height:70px" />
              </span>
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </b-col>
        <span>Picked: {{ pickedGames(game) }}</span>
      </div>
      <button @click="onSave">Save Games</button>
      <button @click="printStuff1">Print Stuff1</button>
      <button @click="printStuff2">Print Stuff2</button>
    </b-container>
  </section>
</template>
 
<script>
import toPlainObject from 'lodash/toPlainObject'

export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: {},
      loadedGames: [],
      selected: '',
      myData: [],
      previousPicks: []
    }
  },
  computed: {
    isRadioChecked: function() {}
  },

  created() {
    return this.$axios
      .$get('https://dinerodigital.tk/api/viewPollsPub')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
          //   console.log(JSON.stringify(res.data[key].pollanswers));
          //   console.log("-----------------------");
        }
        this.loadPreviousPicks()
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      // console.log('pollanswer: ' + winnerId)
      // console.log("selectwinner: " + JSON.stringify(this.loadedGames[gameId].pollanswers[0]));
      // console.log("selectwinner: " + JSON.stringify(this.loadedGames[gameId].pollanswers[1]));

      var self = this
      if (typeof this.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            return game.gameId !== gameId

            // console.log("game: " + JSON.stringify(game));
          })
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })

        // console.log('Games length: ' + this.selectedGames.length)

        console.log('array: ' + JSON.stringify(this.selectedGames))
      }
    },
    loadPreviousPicks() {
      console.log('Hey')
      return this.$axios
        .$get('https://dinerodigital.tk/api/loadPreviousNflPicksPub')
        .then(res => {
          for (const key in res.data) {
            // console.log(key)
            console.log(res.data[key].poll_id)
            console.log(res.data[key].pollanswer_id)
            //   // console.log(res.data[key].pollanswer_id)
            // this.previousPicks.push(res.data[key].pollanswer_id)
            // this.selectedGames.push(
            //   res.data[key].poll_id,
            //   res.data[key].pollanswer_id
            // )
            this.myData[res.data[key].poll_id] = res.data[key].pollanswer_id
            //   //this.loadedGames.push({ ...res.data[key], id: key })
            //   //   console.log(JSON.stringify(res.data[key].pollanswers));
            //   //   console.log("-----------------------");
          }
          this.selectedGames = toPlainObject(this.myData)
          console.log(this.selectedGames)
          // console.log(this.previousPicks)
        })
        .catch(e => console.log(e))
    },
    onSave() {
      // console.log("hello world");
      // console.log(JSON.stringify(this.selectedGames))
      return this.$axios
        .$post('https://dinerodigital.tk/api/postNflPollsPub', {
          not: this.selectedGames
        })
        .then(res => {
          console.log(res)
        })
        .catch(e => console.log(JSON.stringify(e)))
    },
    printStuff1() {
      console.log(JSON.stringify(this.selectedGames))
      // console.log(this.loadedGames[11].pollanswers[1].team.img)
    },
    printStuff2() {
      // console.log(JSON.stringify(this.previousPicks))
      // console.log(this.loadedGames[11].pollanswers[1].team.img)
      console.log(JSON.stringify(this.selectedGames))
      // this.selectedGames[0] = 8
      // this.selectedGames[12] = 32
      this.myData['12'] = 32
      this.myData['15'] = 39

      // let x = "'12':32,'15':39"
      this.selectedGames = toPlainObject(this.myData)
      // this.selectedGames = JSON.stringify(this.selectedGames)

      // this.selectedGames = { '0': 8, '12': 32, '15': 39 }

      console.log(JSON.stringify(this.selectedGames))
    },
    pickedGames(game) {
      let answer = game.pollanswers.find(
        x => x.id == this.selectedGames[game.id]
      )
      return answer ? answer.answer : ''
    }
  }
}
</script>