<template>
  <section>
    <form @submit.prevent>
      <div v-for="(i, index) in loadedGames" :key="index">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">{{i.visitor}} vs {{i.home}}</h4>
            <h6 class="card-subtitle text-muted">Card subtitle</h6>
            <div class="card-body">
              <h4 class="card-title">
                <b-list-group-item>
                  <!-- v-model -->
                  <b-form-radio :v-model="myvmod(index)" :value="i.visitor">{{i.visitorCity}}</b-form-radio>
                  <b-form-radio :v-model="myvmod(index)" :value="i.home">
                    {{i.homeCity}}
                    <span v-if="i.homepoints>0">+{{i.homepoints}}</span>
                    <span v-else>{{i.homepoints}}</span>
                  </b-form-radio>
                </b-list-group-item>
              </h4>
              <p class="card-text">
                <br />
                Game Description {{myvmod(index)}}
              </p>
            </div>
            <!-- <a class="btn btn-outline-primary" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <input type="submit" value="submit" />
    </form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: ''
    }
  },
  methods: {
    setValue(game, value) {
      var self = this
      this.selectedData.forEach(function(val, index) {
        if (val['matchId'] == game) {
          self.selectedData.splice(index, 1)
          return false
        }
      })

      this.selectedData.push({
        game: game,
        winner: {
          team: value
        }
      })
    }
  },
  methods: {
    myvmod(index) {
      return 'selected' + index
    }
  },
  created() {
    return this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
        }
        console.log(this.loadedGames)
      })
      .catch(e => console.log(e))
  }
}
</script>


  //  return axios.get('https://nuxt-blog.firebaseio.com/posts.json')
  //         .then(res => {
  //           const postsArray = []
  //           for (const key in res.data) {
  //             postsArray.push({ ...res.data[key], id: key })
  //           }
  //           vuexContext.commit('setPosts', postsArray)
  //         })
  //         .catch(e => context.error(e));