<template>
  <b-container fluid>
    <section style="margin-left:50px">
      <span v-for="(game,indexx) in loadedGames" :key="indexx" class="m-3">
        <h4>{{game.question}}</h4>

        <span v-for="(answers,indexy) in game.pollanswers" :key="indexy">
          <!-- <b-col cols="12"> -->
          <span style="width:100px;background-color:gray">
            <input type="radio" :value="answers.id" v-model="selectedGames[game.id]" />
            <label for="one">
              <span v-if="answers.team">
                {{answers.team.cityName}}
                <img
                  :src="answers.team.img"
                  style="max-height:70px; width:70px"
                />
              </span>
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
          <!-- </b-col> -->
        </span>

        <span>Picked: {{ pickedGames(game) }}</span>
      </span>
      <button @click="onSave">Save Games</button>
    </section>
  </b-container>
</template>
 
<script>
import toPlainObject from 'lodash/toPlainObject'

export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: {},
      loadedGames: [],
      selected: '',
      myData: [],
      previousPicks: []
    }
  },
  computed: {
    isRadioChecked: function() {}
  },

  created() {
    return this.$axios
      .$get('https://dinerodigital.tk/api/viewPollsPub')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
        }
        this.loadPreviousPicks()
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      var self = this
      if (typeof this.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            return game.gameId !== gameId
          })
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })

        console.log('array: ' + JSON.stringify(this.selectedGames))
      }
    },
    loadPreviousPicks() {
      console.log('Hey')
      return this.$axios
        .$get('https://dinerodigital.tk/api/loadPreviousNflPicksPub')
        .then(res => {
          for (const key in res.data) {
            this.myData[res.data[key].poll_id] = res.data[key].pollanswer_id
          }
          this.selectedGames = toPlainObject(this.myData)
        })
        .catch(e => console.log(e))
    },
    onSave() {
      return this.$axios
        .$post('https://dinerodigital.tk/api/postNflPollsPub', {
          selectedGames: this.selectedGames
        })
        .then(res => {
          console.log(res)
        })
        .catch(e => console.log(JSON.stringify(e)))
    },
    pickedGames(game) {
      let answer = game.pollanswers.find(
        x => x.id == this.selectedGames[game.id]
      )
      return answer ? answer.answer : ''
    }
  }
}
</script>