<template>
  <section>
    <div v-for="(game,indexx) in loadedGames" :key="indexx" class="m-3">
      <h4>{{game.question}}</h4>
      <!--  Es imposible tener un v-model como arreglo , a menos que al
     iniciar se cargue mediante un methodo, o computed property, con informacion del json,
      vamos a intentar cargar al json, en el created.-->
      {{indexx}}
      <span v-for="(answers,indexy) in game.pollanswers" :key="indexy">
        {{indexx}}
        <br />
        {{indexy}}
        <br />
        {{game.matchId}}
        <br />
        <input
          type="radio"
          value="game.pollanswers[indexx].id"
          @change="selectWinner(game.id, game.pollanswers[indexy].id)"
          v-model="game.matchId"
        />
        <label for="one">{{game.id}}-{{game.pollanswers[indexy].answer}}</label>
        <br />
      </span>

      <span>Picked: {{ game.matchId }}</span>
    </div>
    <button @click="onSave">Save Games</button>
  </section>
</template>
 
<script>
export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: '',
      mydata: []
    }
  },

  created() {
    return this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
          //   console.log(JSON.stringify(res.data[key].pollanswers));
          //   console.log("-----------------------");
        }
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      // console.log('pollanswer: ' + winnerId)
      // console.log("selectwinner: " + JSON.stringify(this.loadedGames[gameId].pollanswers[0]));
      // console.log("selectwinner: " + JSON.stringify(this.loadedGames[gameId].pollanswers[1]));

      var self = this
      if (typeof this.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            return game.gameId !== gameId

            // console.log("game: " + JSON.stringify(game));
          })
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })

        console.log('Games length: ' + this.selectedGames.length)

        console.log('array: ' + JSON.stringify(this.loadedGames))
      }
    },
    onSave() {
      // console.log("hello world");
      console.log(JSON.stringify(this.selectedGames))
      return this.$axios
        .$post('https://prueba3.com/api/postPolls')
        .then(res => {
          console.log(res)
        })
        .catch(e => console.log(e))
    }
  }
}
</script>