<template>
  <div>
    <span>Simple Radio - Checked bouned to semi-random computed object</span>
    <br />
    <label>
      Radio 1: {{amIChecked}}
      <input type="radio" :checked="amIChecked" />
    </label> &nbsp;
    <label>
      Recalculate Computed Value
      <button
        type="button"
        @click="mutateComputedDependentData"
      >Click Me Several Times</button>
    </label>
    <br />
    <div>
      <span>Simple Radio Group - Only one checked at a time. Bound to data.checkedData</span>
      <br />
      <label>
        Radio 1 - inverse of checkedData = {{!checkedData}}
        <input
          type="radio"
          name="group1"
          value="radio1"
          :checked="!checkedData"
        />
      </label>
      <br />
      <label>
        Radio 2 - checkedData = {{checkedData}}
        <input
          type="radio"
          name="group1"
          value="radio2"
          :checked="checkedData"
        />
      </label>
      <br />
      <span>Understanding checked attribute: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-checked</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checkedData: false,
      checkedGroupVModel: 'radioVModel3', //some defaul
      toggleChecked: false,
      recalculateComputed: null
    }
  },
  computed: {
    amIChecked() {
      let isEven = false
      if (this.recalculateComputed) {
        let timeMills = new Date().getMilliseconds()
        isEven = timeMills % 2 === 0
      }
      return isEven
    }
  },
  methods: {
    onToggle() {
      this.toggleChecked = !this.toggleChecked
      return this.toggleChecked
    },
    mutateComputedDependentData() {
      this.recalculateComputed = {}
    }
  }
}
</script>