<template>
  <section>
    <div v-for="(game,index) in loadedGames" :key="index" class="m-3">
      <h4>{{game.question}}</h4>

      <input
        type="radio"
        id="one"
        value="One"
        @change="selectWinner(game.id, game.visitor)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="one">{{game.id}}-{{game.visitor}}</label>
      <br />
      <input
        type="radio"
        id="two"
        value="Two"
        @change="selectWinner(game.id, game.home)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="two">{{game.id}}-{{game.home}}</label>
      <br />
      <span>Picked: {{ game.matchId }}</span>
    </div>
    <button @click="onPost">Post Array</button>
  </section>
</template>

<script>
export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: '',
      mydata: []
    }
  },

  created() {
    return this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
        }
        console.log(this.loadedGames)
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      if (typeof this.selectedGames != undefined) {
        this.selectedGames = this.selectedGames.filter(function(game) {
          return game.gameId != gameId
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })
      }
    },
    onPost() {
      console.log(this.selectedGames)
      return this.$axios
        .$post('https://prueba3.com/api/postpolls')
        .then(res => {
          console.log(res)
        })
        .catch(e => console.log(e))
    }
  }
}
</script>