<template>
  <section>
    <div v-for="(game,index) in loadedGames" :key="index" class="m-3">
      <h4>{{game.question}}</h4>
      <!--  Es imposible tener un v-model como arreglo , a menos que al 
      iniciar se cargue mediante un methodo, o computed property, con informacion del json,
      vamos a intentar cargar al json, en el created.-->

      <input
        type="radio"
        id="one"
        value="One"
        @change="selectWinner(game.id, game.visitor)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="one">{{game.id}}-{{game.visitor}}</label>
      <br />
      <input
        type="radio"
        id="two"
        value="Two"
        @change="selectWinner(game.id, game.home)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="two">{{game.id}}-{{game.home}}</label>
      <br />
      <span>Picked: {{ game.matchId }}</span>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: '',
      mydata: []
    }
  },

  created() {
    return this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
        }
        console.log(this.loadedGames)
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      console.log('Enter')
      console.log('gameId: ' + gameId)
      console.log('winnerId: ' + winnerId)
      var self = this
      if (typeof this.selectedGames != undefined) {
        console.log('Enter 2')
        // this.selectedGames.forEach(function(gameId) {
        //   console.log('Enter foreach')
        //   console.log("4e gameid: " + JSON.stringify(gameId.gameId))
        //   console.log("4e winnerID: " + winnerId)
           
        //   console.log('array: ' + JSON.stringify(self.selectedGames))


          // if (this.selectedGames['gameId'] == gameId.gameId) {
          //   // this.selectedGames.splice(gameId, 1)
          //   return false
          // }
          // self.selectedGames.splice(0,1)



          // const arr =  self.selectedGames.filter(function(value,index, arr){
          //     console.log('value ' + JSON.stringify(value))
          //     console.log('game ' + JSON.stringify(self.selectedGames))
          //     return self.selectedGames
          //     // return 
          //   });


            self.selectedGames =  self.selectedGames.filter(function(game){
                console.log('filtered game: ' + JSON.stringify(game))
                // console.log('filtered game: ' + JSON.stringify(game))
                console.log('4e gameId: ' + gameId)
                console.log('4e game: ' + game.gameId)
                return game.gameId != gameId;
          });

        //   console.log('array2: ' + JSON.stringify(array2));

        //   console.log('array2 len: ' + array2.length);
        // })

        // function(gameId, winnerId) {
        //   console.log('Enter forEach')
        //   if (this.selectedGames['gameId'] != winnerId) {
        //     console.log('Enter forEach if')
        //     self.selectedData.splice(index, 1)
        //     return false
        //   }
        // }

        // console.log('Enter 3' + JSON.stringify(gameId))
        this.selectedGames.push({
          winnerId: winnerId,
          'gameId': gameId
        })
        // this.selectedGames.splice(gameId, 1)
          console.log("Games length: " + this.selectedGames.length)

          console.log('this: ' + JSON.stringify(this.selectedGames) )

          console.log('self: ' + JSON.stringify(self.selectedGames) )
      }
    }
  }
}
</script>