<template>
  <b-container>
    <!-- WRAP -->

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, rem ab doloremque dignissimos veniam perferendis ipsum nesciunt fuga aliquid. Voluptate consectetur voluptas assumenda eius ex, consequuntur quas ipsum vitae sunt a similique, quod beatae blanditiis tempore. Numquam pariatur tenetur sequi necessitatibus labore autem nesciunt officiis accusamus veniam fuga. Iusto illum veritatis voluptates incidunt dignissimos officia iste vitae nesciunt ea! Nemo ab sed suscipit quas consequatur beatae, dolor inventore provident. Unde deleniti inventore reiciendis ad natus eaque ut temporibus aperiam fugit quibusdam officia nesciunt dolor commodi architecto maxime asperiores ducimus tempore, ipsum modi provident praesentium magni assumenda accusamus enim.
  </b-container>
</template>



<script>
import NflList from '@/components/NFL/NflList'

export default {
  components: {
    NflList
  },
  data() {
    return {
      sfvsten: '',
      game1: '',
      game2: '',
      games: [
        {
          match: 'sfvsten',
          home: '49ers',
          homeCity: 'San Francisco',
          visitor: 'Titans',
          visitorCity: 'Tennesse',
          favorite: 'San Francisco',
          homepoints: '-16',
          matchId: '',
          description:
            'While San Francisco ended with an awesome season, this is any given Sunday.'
        }
      ],
      loadedGames: []
    }
  },
  created() {
    // const res = this.$axios.$get("http://localhost:8000/api/viewPolls");

    // console.log(res);
    this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        const postArray = []
        for (const key in res.data) {
          postArray.push({ ...res.data[key], id: key })
        }
        this.loadedGames = postArray
        console.log(this.loadedGames[3].matchId)
      })
      .catch(e => alert(e))
  }
}
</script>
