<template>
  <section>
    <div v-for="(game,indexx) in loadedGames" :key="indexx" class="m-3">
      <h4>{{game.question}}</h4>
      <!--  Es imposible tener un v-model como arreglo , a menos que al
     iniciar se cargue mediante un methodo, o computed property, con informacion del json,
      vamos a intentar cargar al json, en el created.-->
      <span v-for="(answers,indexy) in game.pollanswers" :key="indexy">
        <input
          type="radio"
          :value="game.pollanswers[indexy].id"
          @change="selectWinner(game.id, game.pollanswers[indexy].id)"
          v-model="game.matchId"
        />
        <label for="one">{{game.id}}-{{game.pollanswers[indexy].answer}}</label>
        <br />
      </span>

      <span>Picked: {{ game.matchId }}</span>
    </div>
    <button>Save Games</button>
  </section>
</template>
 
<script>
export default {
  data() {
    return {
      loadedGames: [],
      picked: '',
      selectedGames: [],
      selected: '',
      mydata: []
    }
  },

  created() {
    return (this.loadedGames = [
      {
        id: 4,
        question: 'Packers vs Bears',
        matchId: 'BearsVsChicago',
        home: 'Bears',
        homeCity: 'Chicago',
        visitor: 'Packers',
        visitorCity: 'Green Bay',
        favorite: 'Chicago',
        pollanswers: [
          {
            id: 8,
            poll_id: 4,
            answer: 'Packers'
          },
          {
            id: 9,
            poll_id: 4,
            answer: 'Bears'
          }
        ]
      },
      {
        id: 5,
        question: 'Titans vs Browns',
        matchId: 'BrownsVsCleveland',
        home: 'Browns',
        homeCity: 'Cleveland',
        visitor: 'Titans',
        visitorCity: 'Tenesse',
        favorite: 'Browns',
        pollanswers: [
          {
            id: 10,
            poll_id: 5,
            answer: 'Titans'
          },
          {
            id: 11,
            poll_id: 5,
            answer: 'Browns'
          }
        ]
      },
      {
        id: 6,
        question: 'Ravens vs Dolphins',
        matchId: 'DolphinsVsMiami',
        home: 'Dolphins',
        homeCity: 'Miami',
        visitor: 'Ravens',
        visitorCity: 'Baltimore',
        favorite: 'Baltimore',
        pollanswers: [
          {
            id: 12,
            poll_id: 6,
            answer: 'Ravens'
          },
          {
            id: 13,
            poll_id: 6,
            answer: 'Dolphins'
          }
        ]
      }
    ])
  },

  methods: {
    selectWinner(gameId, winnerId) {
      var self = this
      if (typeof this.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            return game.gameId !== gameId
          })
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })
      }
    }
  }
}
</script>