<template>
  <div>
    <div v-for="(game,indexx) in loadedGames" :key="indexx">
      <h4>{{game.question}}</h4>
      gameId {{game.id}} - indexx : {{indexx}}
      <br />
      <span v-for="(answers,indexy) in game.pollanswers" :key="indexy">
        <input
          type="radio"
          :value="answers.id"
          @change="selectWinner(game.id, answers.id)"
          v-model="previousPicks[indexx]"
        />
        <label for="one">{{answers.answer}}</label>
        <br />
      </span>

      <span>Picked: {{ game.matchId }}</span>
    </div>
    <button @click="loadPreviousPicks">Simulate Load from API</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loadedGames: [
        {
          id: 4,
          question: 'Packers vs Bears',
          matchId: 'BearsVsChicago',
          home: 'Bears',
          homeCity: 'Chicago',
          visitor: 'Packers',
          visitorCity: 'Green Bay',
          favorite: 'Chicago',
          pollanswers: [
            {
              id: 8,
              poll_id: 4,
              answer: 'Packers'
            },
            {
              id: 9,
              poll_id: 4,
              answer: 'Bears'
            }
          ]
        },
        {
          id: 5,
          question: 'Titans vs Browns',
          matchId: 'BrownsVsCleveland',
          home: 'Browns',
          homeCity: 'Cleveland',
          visitor: 'Titans',
          visitorCity: 'Tenesse',
          favorite: 'Browns',
          pollanswers: [
            {
              id: 10,
              poll_id: 5,
              answer: 'Titans'
            },
            {
              id: 11,
              poll_id: 5,
              answer: 'Browns'
            }
          ]
        },
        {
          id: 6,
          question: 'Ravens vs Dolphins',
          matchId: 'DolphinsVsMiami',
          home: 'Dolphins',
          homeCity: 'Miami',
          visitor: 'Ravens',
          visitorCity: 'Baltimore',
          favorite: 'Baltimore',
          pollanswers: [
            {
              id: 12,
              poll_id: 6,
              answer: 'Ravens'
            },
            {
              id: 13,
              poll_id: 6,
              answer: 'Dolphins'
            }
          ]
        }
      ],
      picked: '',
      selectedGames: [],
      selected: '',
      mydata: [],
      previousPicks: [],
      game: {
        model: []
      }
    }
  },
  methods: {
    selectWinner(gameId, winnerId) {
      var self = this
      if (typeof this.selectedGames != undefined) {
        self.selectedGames.forEach(function(game) {
          self.selectedGames = self.selectedGames.filter(function(game) {
            return game.gameId !== gameId
          })
        })

        this.selectedGames.push({
          winnerId: winnerId,
          gameId: gameId
        })

        console.log(JSON.stringify(this.selectedGames))
      }
    },
    loadPreviousPicks() {
      this.previousPicks.push(8)
      this.previousPicks.push(11)
      this.previousPicks.push(13)

      console.log(JSON.stringify(this.previousPicks))

      // after picks are added to the array it would
      // be nice to know how can I checked the desired radio
      // inputs
    }
  }
}
</script>