<template>
  <section>
    <div v-for="(game,index) in loadedGames" :key="index" class="m-3">
      <h4>{{game.question}}</h4>
      <!--  Es imposible tener un v-model como arreglo , a menos que al 
      iniciar se cargue mediante un methodo, o computed property, con informacion del json,
      vamos a intentar cargar al json, en el created.-->

      <input
        type="radio"
        id="one"
        value="One"
        @change="selectWinner(game.id, game.visitor)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="one">One</label>
      <br />
      <input
        type="radio"
        id="two"
        value="Two"
        @change="selectWinner(game.id, game.home)"
        v-model="game.matchId"
        :key="game.answer"
      />
      <label for="two">Two</label>
      <br />
      <span>Picked: {{ game.matchId }}</span>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      picked: '',
      message: 'Start here',
      selectedGames: [],
      loadedGames: [],
      selected: '',
      mydata: []
    }
  },

  created() {
    return this.$axios
      .$get('https://prueba3.com/api/viewPolls')
      .then(res => {
        for (const key in res.data) {
          this.loadedGames.push({ ...res.data[key], id: key })
        }
        console.log(this.loadedGames)
      })
      .catch(e => console.log(e))
  },

  methods: {
    selectWinner(gameId, winnerId) {
      console.log('Enter')
      var self = this
      if (typeof this.selectedGames != undefined) {
        console.log('Enter2')
        this.selectedGames.forEach(function(gameId, winnerId) {
          console.log('Enter foreach')
          console.log(gameId)
          console.log(winnerId)
          // if (self.selectedGames['gameId'] == gameId) {
          //   this.selectedGames.splice(gameId, 1)
          //   return false
          // }
        })

        // function(gameId, winnerId) {
        //   console.log('Enter forEach')
        //   if (this.selectedGames['gameId'] != winnerId) {
        //     console.log('Enter forEach if')
        //     self.selectedData.splice(index, 1)
        //     return false
        //   }
        // }

        console.log('Enter 3')
        this.selectedGames.push({
          gameId: gameId,
          winnerId: winnerId
        })

        console.log(this.selectedGames.length)
      }
    }
  }
}
</script>